.successful-booking-container{
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
}

.message-container{
    width: 70%;
    height: 120%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #e1e0de;
}

.btn-successful{
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    width: 25%;
    height: 2rem;
    box-shadow: 3px 3px 3px #e1e0de;
    margin-top: 1rem;
}

.btn-successful:hover{
    cursor: pointer;
}

.message-title{
    margin: 1rem;
    font-weight: bolder;
    font-size: xx-large;
    color: var(--main-color)
}

.second-message-title{
    margin: 1rem;
}

.check-icon{
    width: 10%;
    margin-top: 1rem;
}



@media (max-width: 500px) { 
    .successful-reservation-container {
        margin: 0;
        margin-top: 20rem;
    }

    .check-icon{
        width: 20%;
    }

}

@media (max-width: 1000px) { 
    .successful-reservation-container {
        margin: 0;
        margin-top: 20rem;
    }

    .check-icon{
        width: 10%;
    }

    .message-container{
        width: 70%;
    }

}