@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
:root{
--main-color: #F0572D;
--dark-blue-color:  #31363F;
--dark-color:#191B1D;
--light-color:#DFE4EA;

--ligter-color:#F3F1ED;

--font-size-main: 30px;

--font-size-bigger: 24px;
--font-size-big: 20px;
--font-size-medium:16px;
--font-size-small: 14px;
--font-size-smaller: 12px;
}

