
@import "../../commons/_styles.css";


.main_container{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.avatar_container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--dark-blue-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.greeting_name_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.greeting{
    color: var(----dark-blue-color);
    font-weight: bold;
}
.user_name{
    color: var(--main-color);
    font-weight: bold;
}
.button{
    border: 0ch;
    height: fit-content;
    width: 20px;
    margin-left: 5px;
}
.button_text{
    color: var(----dark-blue-color);
    font-size: 1.3em;
}