
@import "../../commons/_styles.css";


.main_container{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-top: 0.3rem;
}
.avatar_container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--dark-blue-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.greeting_name_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
<<<<<<< HEAD
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
=======
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;

>>>>>>> 1e890c4 (doc's context)
}

.greeting{
    color: var(----dark-blue-color);
    font-weight: bolder;
}

.user_name{
    font-weight: bolder;
    padding-left: 0.3rem;
    color: #f0572d;
<<<<<<< HEAD
    padding-right: 1rem;
    padding-bottom: 0.3rem;
=======
>>>>>>> 1e890c4 (doc's context)
}

.button-avatar{
    border: 0ch;
    height: fit-content;
    width: 10px;
    background-color: white;
}

.button_text_avatar{
    color: var(----dark-blue-color);
    font-size: 1.5rem;
    font-weight: bolder;
}

.button_text_avatar:hover{
    cursor: pointer;
    color:#f0572d
}

.row-avatar{
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    padding-right: 5px;
}


@media (max-width: 700px) { 
    .main_container{
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }
    .avatar_container{
        text-align: end;
        align-items: center;
        justify-content: center;
        margin-left: 19rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .greeting_name_container{
        margin-left: 15rem;
    }
    .row-avatar{
        flex-direction: column;
        align-content: flex-end;
        justify-content: flex-end;
        width: 100%;
    }
    .user_name{
        color:white;
    }
    .greeting{
        color: #ffffff;
    }
}

@media (max-width: 500px) { 
    .avatar_container{
        text-align: end;
        align-items: center;
        justify-content: center;
        margin-left: 14rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .greeting_name_container{
        align-items: flex-end;
        margin-left: 14rem;
    }
    .user_name{
        color: white;
    }
}