.react-datepicker__header{
    background-color: #ffffff;
}

.react-datepicker__day-name, .react-datepicker__current-month{
    font-weight: bolder;
    font-size: medium;
}

.react-datepicker__day{
    font-weight: bold;
    font-size: medium;
}

.react-datepicker{
    border: 1px #dddddc solid;
    box-shadow: 3px 3px 3px #e1e0de;
    height: 23.5rem;
}

.react-datepicker__month-container{
    border: none;
}

.react-datepicker__day--outside-month {
    color: transparent !important;
    pointer-events: none;
    background-color: transparent !important;
  }


@media (max-width: 400px), (max-height: 550px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
      width: 2rem;
      line-height: 2rem;
    }
    .react-datepicker-wrapper {
      display: flex;
      width: 100%;
      height:  40px;
      align-self: center;
  }
  }
  .react-datepicker__portal .react-datepicker__current-month,
  .react-datepicker__portal .react-datepicker-time__header {
    font-size: 1.44rem;
  
}