.title_categories{
    padding-left: var(--font-size-bigger);
    color:var(--dark-blue-color);
    background-color: white;
    padding-top: 345px;
    padding-bottom: 5px;
    padding-left: 5%;
}
.main_title_recommedation{
    background-color:#F3F1ED;
    color: black;
    padding-top: 10px;
    padding-left: 5%;

}
@media (min-width: 661px) {
    .title_categories{
        padding-top: 222px;
       
    }
}

@media (max-width: 500px) {
    .main_title_recommedation{
        text-align: center;       
    }
}